<!--
  Generated template for the FeedsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>feeds</ion-title>
  </ion-navbar>

</ion-header> -->
<ion-header>
  <ion-toolbar>

    <ion-buttons start>
      <button ion-button icon-only color="royal" (click)="search()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>{{feedProv.feed.title}}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="moreMenu($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>

    <ion-toolbar *ngIf='showSearchBar' no-border-top>
        <ion-searchbar placeholder="Filter Items" showCancelButton  (ionInput)="filterItems($event)"></ion-searchbar>
    </ion-toolbar>

</ion-header>

<!-- Main content -->
<ion-content padding >

    <!-- Views -->
    <div [ngSwitch]="view.viewType">
        <!-- <h5>{{userFeeds.userFeeds ? true : false}}</h5> -->
        <div *ngSwitchCase="'Cards'">
            <card-view [items]='feedProv.items'></card-view>
            <card-view *ngIf="userFeeds.userFeeds" [items]='userFeeds.userFeeds'></card-view>
        </div>
        <div *ngSwitchCase="'Thumbnails'">
            <thumbnail-view [items]='feedProv.items'></thumbnail-view>
            <thumbnail-view *ngIf="userFeeds.userFeeds" [items]='userFeeds.userFeeds'></thumbnail-view>
        </div>
        <!-- <p *ngSwitchDefault>Default: {{view.viewType}} <br />status: {{status}}</p> -->
    </div>

    <!-- Refresh functionality -->
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
              pullingIcon="arrow-dropdown"
              pullingText="Pull to refresh"
              refreshingSpinner="circles"
              refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

</ion-content>
