
<ion-header>
  <ion-toolbar>

    <ion-buttons start>
      <button ion-button icon-only color="royal" (click)="togleSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title (click)="feedTitleClicked($event)">{{feedProv.feed.title}}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="moreMenu($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>

    <ion-toolbar *ngIf='showSearchBar' no-border-top>
        <ion-searchbar placeholder="Filter Items" showCancelButton  (ionInput)="filterItems($event)"></ion-searchbar>
    </ion-toolbar>

</ion-header>

<!-- Main content -->
<ion-content padding >

    <!-- for debuging -->
    <!-- <h5>{{feedProv.items.length}} - {{feedProv.status}}</h5> -->

    <!-- Views -->
    <div [ngSwitch]="view.viewType">
        <div *ngSwitchCase="'Cards'">
            <!-- feeds from url -->
            <card-view [items]='feedProv.items'></card-view>
            <!-- previously saved feeds -->
            <card-view *ngIf="userFeeds.userFeeds" [items]='userFeeds.userFeeds'></card-view>
        </div>
        <div *ngSwitchCase="'Thumbnails'">
            <!-- feeds from url -->
            <thumbnail-view [items]='feedProv.items'></thumbnail-view>
            <!-- previously saved feeds -->
            <thumbnail-view *ngIf="userFeeds.userFeeds" [items]='userFeeds.userFeeds'></thumbnail-view>
        </div>
        <!-- <p *ngSwitchDefault>Default: {{view.viewType}} <br />status: {{status}}</p> -->
    </div>

    <!-- Refresh functionality -->
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
              pullingIcon="arrow-dropdown"
              pullingText="Pull to refresh"
              refreshingSpinner="circles"
              refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

</ion-content>
