<ion-list>
    <ion-item-sliding *ngFor="let item of items">

       <ion-item (click)="itemClicked(item)">
           <ion-thumbnail item-start >
               <img src={{item.thumbnail}} />
           </ion-thumbnail>

           <h2>{{view.cleanTitle(item.title)}}</h2>
           <p>{{item.pubDate}}</p>
           <p *ngIf="view.getRating(item.content) > 0">IMDB: {{view.getRating(item.content)}}</p>

       </ion-item>

       <ion-item-options side="left">
           <button ion-button color="danger" (click)="feeds.removeFeed(item)">
               <ion-icon name="trash"></ion-icon>
               Remove
           </button>
       </ion-item-options>
       <ion-item-options side="right">
           <button ion-button color="secondary">
               <ion-icon name="folder"></ion-icon>
               Save
           </button>
           <button ion-button color="primary">
               <ion-icon name="share"></ion-icon>
               Share
           </button>
       </ion-item-options>
   </ion-item-sliding>

</ion-list>
